# فایل‌های پایتون
__pycache__/
*.py[cod]

# محیط مجازی
venv/
env/

# فایل‌های امنیتی و محیطی (بسیار مهم)
.env
*.sqlite3
db.sqlite3

# فایل‌های استاتیک و مدیا
/staticfiles/
/media/

# IDEها و ویرایشگرهای کد
.vscode/
.idea/

# گیت
.git/

